@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100%;
    margin: 0;
    padding-top: 79px;
    /* padding: 90px 10px 10px; */
    margin-top: 3px;
    background-color: #fafafa;
    font-family: 'Roboto Serif',
        serif;
}


/* navbar debut */
header {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    transition: .2s linear;
    z-index: 5;
    /* -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -9px #cacd */
}

.logo img {
    width: 60px;
    height: 57px;
}

header .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 1.5rem;
    color: #333;
    transition: .2s linear;
    text-decoration: none;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
    color: #2288ff;

}

header .fa-bars {
    font-size: 3rem;
    color: #2288ff;
    cursor: pointer;
    display: none;
}
.dropdow{
    /* position: fixed; */
    top: 20px;
    right: 30px;
}
.dropdow .image{
    width: 231px;
    height: 61px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdow .image p{
    font-size: 18px;
    font-family: 'Roboto Serif',
    serif;
}


.dropdow .profile{
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid red;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 5px;
}

.dropdow .profile img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdow .menu{
    position: absolute;
    top: 102px;
    right: 11px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
    width: 200px;
    height: 280px;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #2288ff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);

}

.dropdow .menu.active{
    visibility: visible;
    opacity: 1;
}
.dropdow .menu ::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: rotate(45deg);
}
.dropdow .menu ul{
    width: 100%;
    height: 100%;
}

.dropdow .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #2288ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 24%;
    cursor: pointer;
}

.dropdow .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.dropdow .menu ul li:hover img{
    opacity: 1;
}

.dropdow .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.dropdow .menu ul li:hover a{
    color: #2288ff;
}


@media (max-width:768px) {
    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 1000;
        transition: .2s linear;
        background-color: antiquewhite;
        width: 100%;
        opacity: 0;
    }

    header .navbar ul {
        flex-flow: column;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        display: block;
        font-size: 3rem;
    }

    header .nav-toggle {
        top: 5.5rem;
        opacity: 1;
    }

    active {
        top: 5.5rem;
        opacity: 1;
    }

}

/* navbar fin */

.form{
    width: 100%;
    height: 700px;
    /* border: 1px solid red; */
    position: relative;
}

.barre {
    width: 100%;
    height: 70px;
    border: 1px solid blue;
    background-color: #2288ff;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -9px #cacd;
   
}

.barre-content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    margin-left: 35%;
    justify-content: space-around;
}
.barre-content p {
    font-size: 25px;
    font-weight: bolder;
    color: white;
}


.Input{
    padding-top: 90px;
}

.input-content{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    height: auto;
    border: 1px solid #2288ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    background-color: white;
   

}
input {
    margin-bottom: 2rem;
    height: 3rem;
    width: 34rem;
    padding: 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid;
    font-family: 'Roboto Serif',
        serif;
}

input:focus {
    border: 1px solid #2288ff;
    outline-offset: 0px;
    outline: none;
}



button {
    width: 9rem;
    height: 3rem;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    background-color: white;
    color: #2288ff;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'Roboto Serif',
        serif;
   cursor: pointer;
}

input[type="file"] {
    display: none;
}

#image {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 25px;
    width: 34rem;
    height: 3rem;
    text-align: center;
    border: 1px solid ;
    

}

.modal-container {
    display: none;
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    /* transform: scale(0); */
    z-index: 20;
    opacity: 1;
}

.modal-container .modal {
    height: 238px;
    max-width: 341px;
    margin: 0 10px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-container .modal p {
    font-size: 19px;
    margin-top: 55px;
}

.modal-container .modal .fa-times {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #2288ff;
}

.boutton{
    display: flex;
    justify-content: space-around;
}

.btnredirect {
    width: 6rem;
    height: 3rem;
    margin-top: 20px;
    text-align: center;
    border: none;
    background-color: #2288ff;
    color: white;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'Roboto Serif',
        serif;
}

.btnredirect:hover {
    background-color: white;
    color: #2288ff;
    border: 1px solid #2288ff;
    cursor: pointer;
}

/* voir profil debut */
.container-profil{
    width: 100%;
    height: 600px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        margin-top: 55px;
      
}

.profil-content {
    width: 50%;
    height: 556px;
    border: 1px solid red;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

.profil-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    overflow: hidden;padding: 5px;
}

.profil-image img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
}

#trait_dessus {
    border-top: 1px solid #d2d2d4;
    width: 100%;
    padding: 6px;
    margin-top: 20px;

}

.profil-body p {
    /* color: gold; */
    font-weight: bolder;
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
}

.profil-body p span {
    font-weight: normal;
}

@media (max-width:1025px) {
    input, #image{
        width: 24rem;
    }
   
}

@media (max-width:480px) {
    .input-content{
        width: 76%;
    }
}

@media (max-width:770px) {
    .barre-content{
        margin-left: 0;
    }
    button{
            width: 19rem;
            height: 4rem
    }
}

@media (min-width:770px) {
   .input-content{
       width: 60%;
   }
}
@media (max-width:640px) {
    .profil-content{
        width: 76%;
        height: 535px;
    }
}

@media (max-width:445px) {
    .profil-content {
        width: 100%;
       
    }
}

@media (min-width:1440px) {
    .input-content {
        width: 48%;
    }

    .profil-content {
        width: 40%;
    
    }
}

