@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    padding-top: 78px;
    margin: 0; 
    padding: 10px;
    margin-top: 10px;
    background-color: #fafafa;
    font-family: 'Roboto Serif',
    serif;
}

html{
    overflow-x: hidden;
}
        /* navbar debut */
header{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 1rem;
    transition: .2s linear;
    z-index: 1000;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
      box-shadow: 0 10px 6px -9px #cacd
}

.logo img{
    width: 60px;
    height: 50px;
}

header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 1.5rem;
    color: #333;
    transition: .2s linear;
    text-decoration: none;
}

header .navbar ul li .active,
header .navbar ul li a:hover{
    color: #2288ff;
    
}

header .fa-bars{
    font-size: 3rem;
    color: #2288ff;
    cursor: pointer;
    display: none;
}

@media (max-width:768px) {
    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 1000;
        transition: .2s linear;
        background-color: antiquewhite;
        width: 100%;
        opacity: 0;
    }

    header .navbar ul {
        flex-flow: column;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        display: block;
        font-size: 3rem;
    }

    header .nav-toggle {
        top: 5.5rem;
        opacity: 1;
    }

    active {
        top: 5.5rem;
        opacity: 1;
    }

}
/* navbar fin */

.ImageHeader{
    background: url('/images/1.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    bottom: 0;
    border-radius: 10px;
}

form{
   
    left: 50%;
    top: 85%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 65%;
    height: 155px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 4px solid #2288ff;
}

.input{
  margin-right: 46px;
}

select{
    width: 261px;
    height: 55px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    font-family: 'Roboto Serif',  serif;
}

.boutton{
    width: 261px;
    height: 55px;
    text-align: center;
    border: none;
    background-color: #2288ff;
    color: white;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'Roboto Serif',    serif;
}

.boutton:hover{
    background-color: white;
    color: #2288ff;
    cursor: pointer;
    border: 1px solid #2288ff;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-texte{
    margin: 45px 0;
    font-family: 'Roboto Serif',    serif;
    text-transform: uppercase;
    font-size: larger;
    text-align: center;

}

.content-info{
    width: 99%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 3rem;
    background-color: white;
    padding: 10px 21px;
    justify-items: center;
    border-radius: 10px;

}
/* p{
    color: black;
} */
.content-card{
    width: 290px;
    height: 440px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    font-family: 'Roboto Serif', serif;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.content-card:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.content-info .card-image img{
    width: 100%;
    height: 200px;
    padding: 5px;
    object-fit: cover;
    vertical-align: middle;
}
.card-body{
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
}

.body-text {
    display: flex;
    margin-bottom: 11px;
}

.icon{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.icon-content{
    display: flex;
    font-size: 15px;
    font-family: 'Roboto Serif',    serif;
    margin-right: 16px;
    width: 161px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 0 5px  rgba(0, 0, 0, 20%);
    
}

.trait{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#trait_dessus {
    border-top: 1px solid #2288ff;
    width: 100%;
    padding: 6px;

}

.text p {
    display: flex;
    margin-bottom: 11px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btncard{
    width: 85px;
    height: 37px;
    text-align: center;
    border: none;
    background-color: #2288ff;
    color: white;
    border-radius: 5px;
    font-size: 23px;
    margin-top: 10px;
}
.btncard a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto Serif', serif;
}

.btncard:hover{
    background-color: white;
    border: 1px solid #2288ff;
    cursor: pointer;
}

.btncard:hover a {
    color: #2288ff;
}

.contact{
     width: 80%;
      background-color: white;
      height: auto;
     font-family: 'Roboto Serif',    serif;
      font-size: 17px;
     font-weight: inherit;
     display: flex;
     padding: 18px 21px;
     justify-items: center;
     border-radius: 10px;
}

.contact .info{
    width: 87%;
    height: 152px;
    display: flex;
    border: 1px solid black;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 10px;
}
.contact .info:hover {
    transform: translateX(10px);
    transition: 0.5s;
}

.contact .info:hover{
    background-color: #2288ff;
    color: white;
}
.contact .info .texte:hover p{
    color: white;
}

.info .imag  {
        width: 68%;
        height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
  
}
.fas{
    color: #2288ff;
}

.fas:hover{
    color: white;
}
.info .texte{
    text-align: center;
    padding: 5px;
    margin-top: -2px;
}

@media (min-width:1024px) {
    body {
        padding-top: 86px;
    }
    form {
        padding: 50px;
        width: 70%;
    }


}

@media (max-width:1024px) {
    body {
        padding-top: 86px;
    }

    form {
        padding: 50px;
        width: 70%;
    }


}



@media (max-width:940px) {
  
        form {
            padding: 50px;
            width: 74%;
        }

}

@media (max-width:836px) {

    form {
        padding: 50px;
        width: 80%;
    }

    .input{
        margin-right: 22px;
    }

}

@media (max-width:768px) {
   
    select {
        width: 202px;
        height: 49px;
    }

    .boutton {
        width: 202px;
        height: 49px;
   
    }

    form {
        top: 76%;
        padding: 50px;
        width: 45%;
        height: 232px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input{
        margin-right: 0;
        margin-bottom: 22px;
    }
    .contact{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .contact .info{
        margin-bottom: 35px;
        width: 55%;
    }

}


@media (max-width:571px) {

    form {
        padding: 50px;
        width: 74%;

    }

    .contact .info{
        width: 114%;
    }

  

}

@media (min-width:1939px) {
.contact .info{
    width: 40%;
}

}

.tete{

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        font-size: 41px;
        color: white;
        font-weight: bolder;
        width: 96%;
        height: 136px;
}